In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from IPython.display import Image
from sklearn import tree
from sklearn.model_selection import StratifiedKFold
from sklearn.grid_search import GridSearchCV

In [15]:
data = pd.read_csv('cancer-data.txt', na_values=['?'],header=None)
data.columns=['ID','Clump Thickness','Uniformity of Cell Size','Uniformity of Cell Shape','Marginal Adhesion','Single Epithelial Cell Size','Bare Nuclei','Bland Chromatin','Normal Nucleoli','Mitoses','Class']
data.describe()

,ID,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
count,6.920000e+02,692.000000,692.000000,692.000000,692.000000,692.000000,684.000000,692.000000,692.000000,692.000000,692.000000
mean,1.073983e+06,4.430636,3.145954,3.212428,2.825145,3.228324,3.545322,3.445087,2.872832,1.595376,2.693642
std,6.184141e+05,2.816550,3.054796,2.977429,2.863979,2.221434,3.640426,2.445029,3.052083,1.722712,0.952605
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.730490e+05,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171644e+06,4.000000,1.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238506e+06,6.000000,5.000000,5.000000,4.000000,4.000000,6.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [16]:
data = data.drop(["ID"],1)
data=data.fillna(data.mean())
data.describe()
#data[['Bare Nuclei']].mean().values

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
count,692.000000,692.000000,692.000000,692.000000,692.000000,692.000000,692.000000,692.000000,692.000000,692.000000
mean,4.430636,3.145954,3.212428,2.825145,3.228324,3.545322,3.445087,2.872832,1.595376,2.693642
std,2.816550,3.054796,2.977429,2.863979,2.221434,3.619291,2.445029,3.052083,1.722712,0.952605
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000
50%,4.000000,1.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000,2.000000
75%,6.000000,5.000000,5.000000,4.000000,4.000000,6.000000,5.000000,4.000000,1.000000,4.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [7]:
data

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,5,1,1,1,2,1.000000,3,1,1,2
1,5,4,4,5,7,10.000000,3,2,1,2
2,3,1,1,1,2,2.000000,3,1,1,2
3,6,8,8,1,3,4.000000,3,7,1,2
4,4,1,1,3,2,1.000000,3,1,1,2
5,8,10,10,8,7,10.000000,9,7,1,4
6,1,1,1,1,2,10.000000,3,1,1,2
7,2,1,2,1,2,1.000000,3,1,1,2
8,2,1,1,1,2,1.000000,1,1,5,2
9,4,2,1,1,2,1.000000,2,1,1,2
10,1,1,1,1,1,1.000000,3,1,1,2
11,2,1,1,1,2,1.000000,2,1,1,2
12,5,3,3,3,2,3.000000,4,4,1,4
13,1,1,1,1,2,3.000000,3,1,1,2
14,8,7,5,10,7,9.000000,5,5,4,4
15,7,4,6,4,6,1.000000,4,3,1,4
16,4,1,1,1,2,1.000000,2,1,1,2
17,4,1,1,1,2,1.000000,3,1,1,2
18,10,7,7,6,4,10.000000,4,1,2,4
19,6,1,1,1,2,1.000000,3,1,1,2
20,7,3,2,10,5,10.000000,5,4,4,4
21,10,5,5,3,6,7.000000,7,10,1,4
22,3,1,1,1,2,1.000000,2,1,1,2
23,8,4,5,1,2,3.545322,7,3,1,4
24,1,1,1,1,2,1.000000,3,1,1,2
25,5,2,3,4,2,7.000000,3,6,1,4
26,3,2,1,1,1,1.000000,2,1,1,2
27,5,1,1,1,2,1.000000,2,1,1,2
28,2,1,1,1,2,1.000000,2,1,1,2
29,1,1,3,1,2,1.000000,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...
662,5,10,10,8,5,5.000000,7,10,1,4
663,3,10,7,8,5,8.000000,7,4,1,4
664,3,2,1,2,2,1.000000,3,1,1,2
665,2,1,1,1,2,1.000000,3,1,1,2
666,5,3,2,1,3,1.000000,1,1,1,2
667,1,1,1,1,2,1.000000,2,1,1,2
668,4,1,4,1,2,1.000000,1,1,1,2
669,1,1,2,1,2,1.000000,2,1,1,2
670,5,1,1,1,2,1.000000,1,1,1,2
671,1,1,1,1,2,1.000000,1,1,1,2
672,2,1,1,1,2,1.000000,1,1,1,2
673,10,10,10,10,5,10.000000,10,10,7,4
674,5,10,10,10,4,10.000000,5,6,3,4
675,5,1,1,1,2,1.000000,3,2,1,2
676,1,1,1,1,2,1.000000,1,1,1,2
677,1,1,1,1,2,1.000000,1,1,1,2
678,1,1,1,1,2,1.000000,1,1,1,2
679,1,1,1,1,2,1.000000,1,1,1,2
680,3,1,1,1,2,1.000000,2,3,1,2
681,4,1,1,1,2,1.000000,1,1,1,2
682,1,1,1,1,2,1.000000,1,1,8,2
683,1,1,1,3,2,1.000000,1,1,1,2
684,5,10,10,5,4,5.000000,4,4,1,4
685,3,1,1,1,2,1.000000,1,1,1,2
686,3,1,1,1,2,1.000000,2,1,2,2
687,3,1,1,1,3,2.000000,1,1,1,2
688,2,1,1,1,2,1.000000,1,1,1,2
689,5,10,10,3,7,3.000000,8,10,2,4
690,4,8,6,4,3,4.000000,10,6,1,4
691,4,8,8,5,4,5.000000,10,4,1,4

In [17]:
x, y = data.iloc[:, 0:9], data.iloc[:,9:]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)
x_train.columns

Index(['Clump Thickness', 'Uniformity of Cell Size',
       'Uniformity of Cell Shape', 'Marginal Adhesion',
       'Single Epithelial Cell Size', 'Bare Nuclei', 'Bland Chromatin',
       'Normal Nucleoli', 'Mitoses'],
      dtype='object')

In [25]:
y_train

     Class
558      4
504      2
548      2
626      4
271      2
481      4
557      2
331      2
412      2
99       4
447      2
510      2
127      2
159      2
11       2
208      2
691      4
65       4
614      2
154      2
564      4
527      2
545      2
587      4
128      4
34       2
649      2
647      2
316      4
305      4
..     ...
332      4
341      4
440      2
7        2
628      2
238      2
114      2
261      4
312      2
639      2
356      2
461      2
664      2
596      4
182      4
685      2
526      2
272      2
191      2
464      2
103      4
442      4
259      4
620      2
525      2
188      2
15       4
629      4
285      2
636      2

[519 rows x 1 columns]

In [19]:
from sklearn.metrics import confusion_matrix

In [26]:

lg = LogisticRegression(C=1)
lg.fit(x_train,y_train)
lg_pred = lg.predict(x_test)
lg_pred_prob = lg.predict_proba(x_test)

/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:547: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [27]:
k1 = pd.DataFrame(confusion_matrix(y_test,lg_pred))
k1

     0   1
0  108   1
1    4  60

In [35]:
from sklearn import metrics
lg_accuracy = metrics.accuracy_score(y_test, lg_pred)
print("Accuracy : ",lg_accuracy)

Accuracy :  0.971098265896

In [142]:
from sklearn.neighbors import KNeighborsClassifier
grid = GridSearchCV(KNeighborsClassifier(), param_grid={"n_neighbors":[1,2,3,5,7,8,10,11,12,13,14,15,17,19,20,25,30]}, cv=5)
grid.fit(np.array(x_train), np.array(y_train).ravel())
print("The best parameters are %s with a score of %0.2f"
      % (grid.best_params_, grid.best_score_))

The best parameters are {'n_neighbors': 5} with a score of 0.97

In [29]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
knn = KNeighborsClassifier(n_neighbors=5)
knn_pred = knn.fit(x_train,y_train).predict(x_test)
knn_pred_prob = knn.predict_proba(x_test)
#k = pd.DataFrame(sklearn.metrics.confusion_matrix(y_test,knn_pred))
k2 = pd.DataFrame(confusion_matrix(y_test,knn_pred))
k2

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

     0   1
0  107   2
1    2  62

In [30]:
knn_accuracy = metrics.accuracy_score(y_test, knn_pred)
print("Accuracy : ",knn_accuracy)

Accuracy :  0.976878612717

In [31]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
import numpy as np
param={"max_depth":[1,2,3,4,5,6,7,8,9,10]}
grid = GridSearchCV(DecisionTreeClassifier(), 
                    param,
                    cv=5, error_score='accuracy')
grid.fit(np.array(x_train), np.array(y_train).ravel())
print("The best parameters are %s with a score of %0.2f"
      % (grid.best_params_, grid.best_score_))

The best parameters are {'max_depth': 3} with a score of 0.94

In [146]:
np.array(y_train).ravel().shape

(519,)

In [32]:
dt = DecisionTreeClassifier(max_depth=3)
dt.fit(x_train,y_train)
dt_pred = dt.predict(x_test)
dt_pred_prob = dt.predict_proba(x_test)

k3 = pd.DataFrame(metrics.confusion_matrix(y_test,dt_pred))
k3

     0   1
0  103   6
1    2  62

In [33]:
dt_accuracy = metrics.accuracy_score(y_test, dt_pred)
print("Accuracy : ",dt_accuracy)

Accuracy :  0.953757225434

In [10]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
import numpy as np
super_param = {"max_features":[1,2,3,4,5,6,7,8,9],"n_estimators":[10,20,30,40,80,100,200],"min_samples_leaf":[2,3,5,6,8,10,20,30,40]}
#super_param = {"max_features":[13],"n_estimators":[100],"min_samples_leaf":[2]}

grid = GridSearchCV(RandomForestClassifier(), param_grid=super_param, cv=5)
grid.fit(np.array(x_train), np.array(y_train).ravel())
print("The best parameters are %s with a score of %0.2f"
      % (grid.best_params_, grid.best_score_))

The best parameters are {'max_features': 2, 'min_samples_leaf': 10, 'n_estimators': 30} with a score of 0.97

In [36]:
rf = RandomForestClassifier(max_features = 2, n_estimators = 10, min_samples_leaf = 30)
rf.fit(x_train, y_train)
rf_pred = rf.predict(x_test)
rf_pred_prob = rf.predict_proba(x_test)#[:,1]

k4 = pd.DataFrame(metrics.confusion_matrix(y_test,rf_pred))
k4

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

     0   1
0  107   2
1    3  61

In [37]:
rf_accuracy = metrics.accuracy_score(y_test, rf_pred)
print("Accuracy : ",rf_accuracy)

Accuracy :  0.971098265896

In [38]:
from sklearn.naive_bayes import BernoulliNB
nb = BernoulliNB()
nb_pred = nb.fit(x_train,y_train).predict(x_test) 
nb_pred_prob = nb.predict_proba(x_test)
k4 = pd.DataFrame(metrics.confusion_matrix(y_test,nb_pred))
k4
#nb_pred_prob

/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:547: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

     0  1
0  109  0
1   64  0

In [39]:
nb_accuracy = metrics.accuracy_score(y_test, nb_pred)
print("Accuracy : ",nb_accuracy)

Accuracy :  0.630057803468